<article class="h-3/4 flex mb-10 rounded bg-{{_status}}-300 shadow-lg p-6">
  <div class="w-full sm:w-3/4 flex flex-col justify-between mr-4">
    <div class="w-full text-justify">
      <a class="hover:underline" [href]="link">
        <h1
          class="text-xl tracking-wide sm:tracking-normal  text-left sm:text-3xl font-semibold leading-tight text-left">
          {{ title }}
        </h1>
      </a>
      <p class="pt-1 sm:pb-2 pb-5 text-gray-700 sm:text-base text-sm sm:text-left">
        Attendees: {{attendees}}
      </p>
      <div class="sm:block flex justify-start">
        <a class="bg-red-600 hover:no-underline hover:text-white px-3 py-2 rounded text-blue-100 hover:bg-blue-700 hover:shadow"
          [href]="link">Read more →</a>
      </div>
    </div>
    <div class="text-sm text-gray-500 mt-6">
      -- Published: {{ date }} - {{ time }} --
    </div>
  </div>
</article>