<div class="sm:flex shadow rounded-lg border border-gray-400">
  <div class="bg-{{
      _color
    }}-600 rounded-lg lg:w-2/12 py-4 block h-full shadow-inner">
    <div class="text-center tracking-wide">
      <div class="text-white font-bold text-3xl">{{ date }}</div>
    </div>
  </div>
  <div class="w-full lg:w-11/12 xl:w-full px-1 bg-white py-5 lg:px-2 lg:py-2 tracking-wide">
    <div class="flex flex-row lg:justify-start justify-center">
      <div class="text-gray-700 font-medium text-sm text-center lg:text-left px-2">
        <i class="far fa-clock"></i> {{ time }}
      </div>
    </div>
    <div class="font-semibold text-gray-800 text-2xl text-center lg:text-left px-2">
      {{ title }}
    </div>
  </div>
</div>