.header {
  background-image: url('/assets/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 9em 0;

  .logo-title {
    .title-links {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      padding: 0 1.3em;

      h1 {
        font-size: 3em;
      }

      .social-links {
        a {
          color: #fff;
          font-size: 1.7em;
          padding: 10px;

          &:hover {
            color: rgba(255, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
