:host {
  display: block;
  height: 20%;
  .header {
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: block;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 1em 0;
    .logo-title {
      .title-links {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 0 2em;

        h1 {
          font-size: 3em;
        }
      }
    }
  }
}
