<div
  class="social-links"
  [class.light]="light"
  [class.dark]="!light"
  [class.big-size]="big"
  [class.medium-size]="!big"
  [class.text-center]="center"
>
  <a href="https://www.meetup.com/Dutch-Angular-group/" target="_blank">
    <i class="fab fa-meetup"></i>
  </a>
  <a href="https://twitter.com/angulardutch" target="_blank">
    <i class="fab fa-twitter"></i>
  </a>
  <a
    href="https://join.slack.com/t/dutchangulargroup/shared_invite/zt-h45pagnm-G5Vtcl1qUMrZmDLjJwaHhQ"
    target="_blank"
  >
    <i class="fab fa-slack"></i>
  </a>
</div>
